@import "../../constants/sassConstants";

.md-login {
  margin-top: rem(150);
  text-align: center;
}

.md-login__input {
  background-color: black;
  border: none;
  outline: none;
  color: #008000;
  &:focus {
    border: none;
    outline: none;
  }
}

.md-button__login,
.md-login__input {
  padding: rem(8);
  margin-bottom: rem(13);
  font-size: rem(35);
  width: rem(451);
  height: rem(56);
  box-sizing: border-box;
}



